*{
    margin: 0px;
    padding: 0px;
}

@media (min-width: 769px) {
    .grid{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 3;
        background-color: beige ;
        padding: 15px;
        gap: 10px;
        margin: 5px;
        height: 300px;
        width: 100%;
    }
    .box1{
        grid-column: 1;
        grid-row: 1;
        background-color: blue;
        border-style: solid;
    }
    .box2{
        grid-column: 1;
        grid-row: 2;
        background-color: red;
        border-style: solid;
    }
    .box3{
        grid-column: 1;
        grid-row: 3;
        background-color: green;
        border-style: solid;
    }
    .box4{
        grid-column: 2;
        grid-row: 1;
        background-color: yellow;
        border-style: solid;
    }
    .box5{
        grid-column: 2;
        grid-row: 2;
        background-color: gray;
        border-style: solid;
    }
    .box6{
        grid-column: 2;
        grid-row: 3;
        background-color: darkmagenta;
        border-style: solid;
    }
    .box7{
        grid-column: 3;
        grid-row: 1;
        background-color: lightblue;
        border-style: solid;
    }
    .box8{
        grid-column: 3;
        grid-row: 2;
        background-color: pink;
        border-style: solid;
    }
    .box9{
        grid-column: 3;
        grid-row: 3;
        background-color: lightgreen;
        border-style: solid;
    }
}

@media (min-width: 321px) and (max-width:768px){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3;
        background-color: beige ;
        padding: 15px;
        gap: 10px;
        margin: 5px;
        height: 200px;
        width: 100%;
    }
    .box1{
        grid-column: 1;
        grid-row: 1;
        background-color: blue;
        border-style: solid;
    }
    .box2{
        grid-column: 1;
        grid-row: 2;
        background-color: red;
        border-style: solid;
    }
    .box3{
        grid-column: 1;
        grid-row: 3;
        background-color: green;
        border-style: solid;
    }
    .box4{
        grid-column: 2;
        grid-row: 1;
        background-color: yellow;
        border-style: solid;
    }
    .box5{
        grid-column: 2;
        grid-row: 2;
        background-color: lightblue;
        border-style: solid;
    }
    .box6{
        grid-column: 2;
        grid-row: 3;
        background-color: darkmagenta;
        border-style: solid;
    }
    .box7{
        display: none;
    }
    .box8{
        display: none;
    }
    .box9{
        display: none;
    }
}
@media (max-width: 320px) {
    .grid{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 3;
        background-color: beige ;
        padding: 15px;
        gap: 10px;
        margin: 5px;
        height: 150px;
        width: 100%;
    }
    .box1{
        grid-column: 1;
        grid-row: 1;
        background-color: blue;
        border-style: solid;
    }
    .box2{
        grid-column: 1;
        grid-row: 2;
        background-color: red;
        border-style: solid;
    }
    .box3{
        grid-column: 1;
        grid-row: 3;
        background-color: green;
        border-style: solid;
    }
    .box4{
        display: none;
    }
    .box5{
        display: none;
    }
    .box6{
        display: none;
    }
    .box7{
        display: none;
    }
    .box8{
        display: none;
    }
    .box9{
        display: none;
    }
}