*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
@media (min-width: 769px){
    background-color: ;
}
@media (min-width: 321px) and (max-width: 768px){
    background-color: ;
}
@media (max-width: 320px){
    background-color: ;
}
*/
body{
    font-size: 15px;
    font-style: normal;
    list-style: none;
    border-left: 10px;
}

.header{
    width: 100%;
    padding: 10px;
    background-image: url(../Imagenes/floresdecerezoshorizontal.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.header img{
    width: 250px;
    height: 250px;
    padding: 5px;
    text-align: center;
}
.card-mb-3 img{
    width: 30%;
    height: 30%;
}
.aside{
    font-size: 15px;
}
footer{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.main{
    width: 100%;
    background-color: rgb(251, 226, 230) ;
    font-size: 20px;
    padding: 10px;
}
p{
    font-size: 15px;
}
.formulario{
    text-align: left;
    width: 20%;
    border-style: groove;
    padding: 10px;
}

.bodyhorario{
    border-style: solid;
    border-color: lightcoral;
    background-color: rgb(251, 226, 230);
    font-size: 20px;
    text-align: left;
    
}
.bodycontacto{
    border-style: solid;
    border-color: lightcoral;
    background-color: rgb(251, 226, 230);
    font-size: 20px;
    text-align: left;
}

.tabla{
    padding: 20px;
}

